h1{
        text-align: center;
        color: rgb(77, 11, 184);
        text-decoration: wavy underline ;
        
}
h3{
        text-align: right;
}
p{
        text-align: right ;
        font-size: 15px ;
        
        
}
