*{
        font-family: 'Courier New', Courier, monospace;
}
h3{
        color: purple;
}
h1{
      color:   #b92b27;
}
#login {
        color: aqua;
        background-color:white;
}
#signup{
        background-color:  #b92b27;
        color: aliceblue;
}
.upvote{
        background-color: aqua;
}
p a{
        color: purple;
}
p+h3{
        text-decoration: underline;
}
.upvote+button{
        background-color: blueviolet;
        color: aliceblue;
}
span>button{
        color: beige;
        background-color: rebeccapurple;
}
div>input{
        background-color: violet;
        
}
input[type="text"]{
        color: red;
}
button:hover{
        background-color: bisque;
        color: aliceblue;
        
}
button:active{
        background-color: darkorchid;
        color: black;
}
p:active{
        font-weight: bold;
        color: green;
}
input[type="radio"]:checked +label{
        color: #b92b27;
        font-weight: bold;

}
h1::first-letter{
        color: black;

}

